<mat-card class="post-detail-card">
  <mat-card-header>
    <div mat-card-avatar class="post-detail-image"></div>
    <mat-card-title>{{post?.texto}}</mat-card-title>
    <mat-card-subtitle>{{post?.data | date: "dd/MM/yyyy hh:mm"}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image width="500px" height="500px" [src]="post?.urlFoto" alt="">
  <mat-card-content style="margin: 25px 0 25px 0;">
  </mat-card-content>
</mat-card>
<br />
<h1>Comentários da Postagem</h1>
<button mat-flat-button color="primary" (click)="mostrarCriarComentario()">Novo Comentário</button>
<div *ngIf="showCriarComentario == true">
  <app-create-comment [idPost]="post?.id" (newCommentEvent)="atualizarComentarios()"></app-create-comment>
</div>
<mat-card *ngFor="let item of comment">
  <mat-card-header>

    <mat-card-subtitle>{{item.data| date: "dd/MM/yyyy"}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="margin: 25px 0 25px 0;">
      {{item.texto}}
  </mat-card-content>
</mat-card>

<a routerLink="/">Ver todas as postagens</a>
